<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38867ignac.Colorin" Publisher="CN=D91F540F-332A-4BF3-9FF6-8CDDB55F5CDE" Version="1.0.0.6" />
  <Properties>
    <DisplayName>Colorin'</DisplayName>
    <PublisherDisplayName>ignac</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="slowkolory.App">
      <VisualElements DisplayName="Colorin'" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Colorin' - easy brain exercising game." ForegroundText="light" BackgroundColor="#ff4500">
        <DefaultTile ShowName="allLogos" ShortName="Colorin'" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>